*{
    margin:0;
}
html,body{
    height: 100%;
    width: 100%;
    margin:0;
}

body{
    display:flex;
    flex-direction: column;
}

/*Cabezera y nav*/
header{
    background-color: #0B2345;
}
.headerContent{
    color:white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
}
.unamDorado{
    margin-left: 30%;
}
.imagenesDerecha{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.titulo{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    border-top: 3px solid #FABC03;
    background-color: #0B2F61;
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
}
nav > *{
    padding: 4px 10px;
    color: white;
}



/*Contenido y Aside*/
.medio{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100%;
}
aside{
    border-right: 2px solid gray;
    margin-right: 1px;
}

.content{
    border-left: 2px solid black;
}



